<div class="d-flex flex-column" style="height: calc(100vh - 76px);">
    <section class="w-100 flex-grow-1 pt-4" style="background-color: #eee;">

        <div class="container">

            <div class="row mb-2">

                <div class="card col-md-10 offset-md-1 mb-2">

                    <div class="card-body">
                        <table mdbTable>
                            <thead>
                                <tr>
                                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr mdbTableCol *ngFor="let form of chatgiEntries">
                                    <td>{{ form.payload.doc.data().firstName}}</td>
                                    <td>{{form.payload.doc.data().lastName}}</td>
                                    <td>{{form.payload.doc.data().chatgiName}}</td>
                                    <td>{{form.payload.doc.data().gender}}</td>
                                    <td>{{form.payload.doc.data().phoneNumber}}</td>
                                    <td>{{form.payload.doc.data().state}}</td>
                                    <td>{{form.payload.doc.data().city}}</td>
                                    <td>{{form.payload.doc.data().strategy}}</td>
                                    <td>{{form.payload.doc.data().eventName}}</td>
                                    <td>{{form.payload.doc.data().chatgiCategroy}}</td>
                                    <span *ngFor="let forms of form.payload.doc.data().chatgiEntries">
            {{ forms }}
          </span>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>